<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<context:component-scan base-package="com.etc"></context:component-scan>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- SqlSessionFactoryBean的配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 1.sqlSessionFactory需要一个数据源（dataSource） -->
		<property name="dataSource" ref="dataSource"></property>	
		<!-- 2.配置xxMapper.xml的路径 -->
		<property name="mapperLocations" value="classpath:com/etc/mapper/*.xml"></property>
	</bean>
	
	<!-- 配置扫描器   mapperScannerConfig -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 1 属性配置 -->
		<property name="basePackage" value="com.etc.dao"></property>
		<!-- 2 sessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	
	<!-- 文件上传解析器  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<!-- 设置文件上传的大小  -->
		<property name="maxUploadSize" value="5000000"/>
	</bean>
</beans>